@page "/maps-features"
@using Syncfusion.Blazor.Maps
@using Microsoft.Data.SqlClient

<h2>Mapa de Manlleu</h2>
<br/>

<div class="buscador">

</div>


@*MAPA DE MANLLEU*@
<div class="mapastyle">
<SfMaps @ref="@mapa" Height="640px" Width="80vw">
    <MapsCenterPosition Latitude="41.99998844462667" Longitude="2.2840283764000575"></MapsCenterPosition>
    @* To zoom and pan *@
    <MapsZoomSettings Enable="true" ZoomFactor="18" MaxZoom="19">
        <MapsZoomToolbarSettings>
            <MapsZoomToolbarButton ToolbarItems="new List<ToolbarItem>() { ToolbarItem.Zoom, ToolbarItem.ZoomIn, ToolbarItem.ZoomOut,
            ToolbarItem.Pan, ToolbarItem.Reset }"></MapsZoomToolbarButton>
        </MapsZoomToolbarSettings>
    </MapsZoomSettings>

    <MapsLayers>
        <MapsLayer UrlTemplate="https://tile.openstreetmap.org/level/tileX/tileY.png" TValue="string">
            <MapsMarkerSettings>
                <MapsEvents OnDoubleClick="@AfegirBotiga"></MapsEvents>
                <MapsMarker Visible="true" DataSource="botigues" Height="25" Width="25" TValue="Botiga">
                    <MapsMarkerTooltipSettings Visible="true" ValuePath="Nom"></MapsMarkerTooltipSettings>
                </MapsMarker>
            </MapsMarkerSettings>
        </MapsLayer>
    </MapsLayers>
</SfMaps>
</div>

@*AQUI VA L'STYLE*@
<style>
    .mapastyle {
        padding-left: 6vw;
        padding-right: 10vw;
        padding-block-end: 10vh;
        display: block;
    }

</style>


@code {
    SfMaps? mapa;
    int IdBotiga;
    string NomBotiga;
    string nouTexte = "";

    public class Botiga
    {
        public int Id { get; set; }
        public string Nom { get; set; }
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }


    //POSAR BOTIGUES MANUALMENT
    public List<Botiga> botigues = new List<Botiga>
    {
                new Botiga{Latitude=41.99777109536099,Longitude=2.282743054586101,Nom="La Salle",Id=1}
        
    };
    

    //AFEGIR UNA BOTIGA FENT 2 CLICS
    public void Posicionar()
    {
        MinMaxLatitudeLongitude p = mapa.GetMinMaxLatitudeLongitude();
    }

    public void AfegirBotiga(Syncfusion.Blazor.Maps.MouseEventArgs args)
    {
        int idnou = botigues.Max(x => x.Id);
        botigues.Add(new Botiga
            { Latitude = args.Latitude, Longitude = args.Longitude, Nom = "Botiga Nova", Id = idnou + 1 });
        mapa.Refresh();
    }
    
    public void MostrarBotiga(Syncfusion.Blazor.Maps.MarkerClickEventArgs args)
    {
        IdBotiga = Convert.ToInt32(args.Data["Id"]);
        NomBotiga = args.Data["Nom"];
    }
    
}
